<header>
    <nav >
        <img src="{{url_for('static' , path = 'images/Logo.png') }}" alt="logo" width="200px" height="47px" height="auto">
        <ul >
            <li class="right"><a method="GET" href="/ad_register_employee" target="_self">Employee requests</a></li>
            <li class="right"><a method="GET" href="/ad_employee" target="_self">Employees</a></li>
            <li class="right"><a method = "GET" href="/ad_top" target="_self">Top performers</a></li>
            <li class="right"><a method = "GET" href="/ad_logout" target="_self">Logout</a></li>
        </ul>
    </nav>
  </header>