<header>

  <nav>
    <a href="index.html"><img src="{{url_for('static' , path = 'images/Logo.png') }}" alt="logo" width="15%" height="100%"></a>
    <ul>
      <li class="right"><a method="GET" href="/home_page" target="_self">Home</a></li>
      <li class="right"><a method="GET"  href="/update_profile" target="_self">Profile</a></li>
      <li class="right"><a method="GET" href="/employee_details" target="_self">Employees</a></li>
      <li class="right"><a method = "GET" href="/top_performers" target="_self">Top performers</a></li>
      <li class="right"><a method = "GET" href="/contact" target="_self">ContactUs</a></li>
      <li class="right"><a method = "GET" href="/logout" target="_self">LogOut</a></li>
    </ul>
  </nav>

</header>







<!-- 
<header>
  <nav >
      <img src="{{url_for('static' , path = 'images/Logo.png') }}" alt="logo" width="200px" height="47px" height="auto">
      <ul >
          <li class="right" ><a method="GET" href="/home_page" target="_self" >Home</a></li>
          <li class="right"><a method="GET"  href="/update_profile" target="_self">Profile</a></li>
          <li class="right"><a method="GET" href="/employee_details" target="_self">Employees</a></li>
          <li class="right"><a method = "GET" href="/top_performers" target="_self">Top performers</a></li>
          <li class="right"><a method = "GET" href="/contact" target="_self">ContactUs</a></li>
      </ul>
  </nav>
</header> -->